.previewText {
    width: 100px;
    height: 100px;
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
}

#picture_form {
    float: left;
}

.previewComponent img {
    float: left;
}

.hide {
    visibility: hidden;
}

.submitButton {
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
   
  }

  .picture-text {
    padding: 12px;
    margin-left: 10px;
    background: white;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
   
  }

  #picture_img {
      width: 100px;
      height:100px;
  }

  .previewComponent {
      float: left;
  }

  .imgPreview {
    /* margin-left: 50px; */
    display: inline-flex;
    /* border: 2px solid blue; */
}

label.submitButton {
    position: relative;
    right: 40px;
}

.picture-container.container {
    /*
border: 1px solid gray;
width: 260px;
/* float: left; */
/* display: contents; */
/*
height: 300px;
margin-top:5px;
margin-bottom:5px;
*/
}

ul.u-reset {
    list-style-type: decimal;
    float: left;
}

li.margin-half-top {
    text-align: left;
}