footer {
}

.app-footer {
  display: block
 
}

h5.footer-h5-title {
    color: white;
    font-weight: 400;
}

h5.footer-h5-title ul li a {
    color: white;
    font-weight: 200;
}

footer.app-footer {
    /* border: 2px solid blue; */
    background-color: #023E5F;
    color: white;
}

@media (max-width: 766px) {
    footer.app-footer {
        text-align: center;
    }
}

hr {
    background-color: white;
}
