.search-btn{
    display: block;
    width: auto;
    height: 35px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #94093a, #94099a, #94093a);
    background-size: 200%;
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    transition: .5s;
    margin-left: 41%;
    padding-left: 1em;
    padding-right: 1em;
}

.search-btn:hover{
    background-position: right;
}

.home-message{
    font-family: 'Poppins', sans-serif;
}

@media(max-width: 780px){
    .search-btn{
        display: none;
    }

    .home-message{
        display: none;
    }
}