.create-trip-form-from{
    width: 100% !important;
    align-items: center !important;
    background-color: white !important;
    margin-bottom: 1em !important;
    border: 0.5px solid #e4e7ea !important;
    border-radius: 7px !important;
}

.create-trip-form-to{
    width: 100% !important;
    align-items: center;
    background-color: white !important;
    margin-bottom: 1em;
    border: 0.5px solid #e4e7ea;
    border-radius: 7px !important;
}

.create-trip-form-intermediate{
    height: 3em !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 3px !important;
}

.tripFromAlert{
    color: red;
    margin-bottom: 3px;
}