button.px-4.btn.btn-primary {
    background-color: #023E5F;
    color: white;
    font-weight: 00;
    text-align: center;
}

.profile-change-passwowrd{
    margin-top: 4%;
}

.profile-change-passwowrd .profile-title{
    font-size:17px;
}
