.trip-element{
    margin-bottom: 2em;
}

.passenger-trips-body{
    margin-top:5em;
    max-width: 500px;
    margin-bottom: 5em;
}

.passenger-trip-status-open{
    height: 2em;
    width: 5em;
    padding: 5px;
    font-size: 12px;
    margin-left: 1px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(11, 197, 11);
}

.passenger-trip-status-close{
    height: 2em;
    width: 5em;
    padding: 5px;
    font-size: 12px;
    margin-left: 1px;
    background-color: #52a2bf;
    border-radius: 5px 5px 0px 0px;
}

.trip-content{
    border-radius: 16px 16px 0px 0px;
    padding: 1em 0.5em 0em 0em;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 200ms ease-in 0s;
    box-shadow: rgba(94, 92, 92, 0.16) 0px 1pt 4pt, rgba(94, 92, 92, 0.16) 0px 2pt 8pt;
}
.trip-content:hover{
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1pt 4pt, rgba(0, 0, 0, 0.08) 0px 5pt 10pt;
}

.trip-title-icon{
    width: 1.3em !important;
    height: 2em !important;
}


.trip-driver{
    border-right: 1 solid;
}

.trip-driver-avatar{
    width: 80px !important;
    height: 80px !important;
}

.trip-driver-profil{
    font-size: 14px;
    line-height: 20px;
    color: rgb(5, 71, 82);
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    justify-content: center !important;
}

.trip-description{
    min-height: 10em;
}
.trip-description-date{
    font-size: 13px;
    --font-size-desktop: 20px;
    color: rgb(5, 71, 82);
    font-weight: 500;
    line-height: 1.06;
}
.trip-description-from{
    font-size: var(--font-size-desktop);
    --font-size-desktop: 14px;
    margin-top: 1.5em;
}
.trip-description-icon{
    width: 4px;
    height: calc(25% - 2px + 4px);
    top: -1px;
    background-color: coral;
    margin-left: 2px;
}
.trip-description-to{
    font-size: var(--font-size-desktop);
    --font-size-desktop: 14px;
}

.trip-amount{
    color: coral;
    font-size: 13px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgb(125, 166, 194);
    justify-content: center !important;
}

.trip-place{
    padding: 5px;
    margin-top: 3em;
    color: rgb(5, 71, 82);
    font-size: var(--font-size-desktop);
    --font-size-desktop: 15px;
    justify-content: center !important;
}

.cancelBtn{
    color: white;
    width: 100% !important;
    margin-top: 0 !important;
    border-radius: 0px 0px 16px 16px !important;
    background-image: linear-gradient(to right, #023E5F, #0c6b9e, #023E5F) !important;
}
.cancelBtn:hover{
    color: white;
    transition: .5s !important;
    background-image: linear-gradient(to right,#0c6b9e, #023E5F ,#0c6b9e) !important;
}

.modal-header{
    background-color: #023E5F;
    color: white;
}

.close{
    color: white;
}

.modal-footer{
    padding: 0.5em 1em 0.5em 1em;
}
