.app-header{
    background-color: #023E5F;
}

.app-header .nav-link {
    color: white;
}

.app-header .nav-link:hover {
    color: tomato;
}

.navbar-nav .active > .nav-link:focus, 
.navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus{
    color: tomato;
}

.sidebar {
    background-color: #036297;
}

.sidebar .sidebar-minimizer {
    background-color: aqua;
}

.sidebar .nav-link.active{
    background-color: #023E5F;
}

.sidebar .nav-title{
    color: aqua;
}

.app-header .navbar-toggler {
    min-width: 40px;
    padding: 0.15rem 0.3em 0.30rem 0.3em;
}

.line{
    width: 100%;
    float: right;
    height: 2px;
    background-color: white;
    margin-top: 3px;
}

.mobile-menu{
    display: none;
}

.sign-icon{
    display: none;
}

@media (max-width: 992px) {
    .mobile-menu{
        display: flex;
        font-size: 1.3em;
    }

    .sign-icon{
        display: flex;
        font-size: 1.6em;
    }

    .logout-menu{
        display: flex;
    }
  }

  .text-center.dropdown-item {
    background-color: #023E5F;
}