.show-all-trip-header{
    padding-top: 5px;
    margin-bottom: 1em;
    padding-bottom: 5px;
    border-bottom: 1px solid #023E5F;
    justify-content: center !important;
    position: fixed;
    top:3.9em;
    right:0px;
    left: 0px;
    z-index: 1000;
    background-color: #e4e5e6;
}

.show-all-trip-title{
    color: white;
    border-radius: 8px;
    margin-top: 3em;
    max-width: 600px;
    margin-bottom: 1em;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: lightslategray;
    justify-content: center !important;
}

.show-all-trip-title-icon{
    font-size: 2rem !important;
    margin-top: 7px;
    justify-content: center !important;
}

.show-all-trip-title-content{
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center !important;
}

.show-all-trip-body{
    max-width: 650px;
    margin-top:10em;
    margin-bottom: 10em;
}

.show-all-trip-not-found{
    margin-top: 5em;
}

.show-all-trip-not-found-icon{
    justify-content: center;
}

.show-all-trip-not-found-info{
    font-weight: 500;
    line-height: 1.06;
    color: rgb(5, 71, 82);
    justify-content: center;
    --font-size-desktop: 15px;
    font-size: var(--font-size-desktop);
}