.container div {
 margin:0;
 padding:0;
}

.footer ul li{
    margin-top:5px;
    text-align: left;
}

.footer-info {
    font-size: 10px;
    text-align: center;
    background-color: #212529;
    padding:auto;
    margin:auto;
    color:white;
}


.footer-corporate {
    padding:0;
    margin:0;
    text-align: center;
    margin-top:15px;
    margin-bottom:20px;
    color:white;
}

.list-group-item {
    background-color:rgb(44, 44, 44);
    border:none;
    color:white;
}

.footer {
    background-color: #343a40;
     text-align: center;
         -ms-overflow-style: -ms-autohiding-scrollbar;
         font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
         font-size: 13px;
         background-color:rgb(44, 44, 44);
 }

select#footerSelectLocale {
    margin-left: 0;
    padding: 0;
    display: inherit;
}

.list-group.list-group-flush {
    margin-top: 0;
    padding: 0;
    margin-top: 40px;
    float: left;
    
}



.list-group-item a {
    color: black;
    float: left;
    color:white;
    margin-bottom: .3rem;
    padding-bottom: .25rem;

}

.title.list-group-item {
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    color:silver;
    font-size: bolder;
    font-weight: 600;
    display: inherit;
}

a.social-icon.social {
    margin-left: 10px;
}

.address{
  list-style-type: none;
}

ul.address {
    /* border: 2px solid red; */
    padding: 0;
    padding-left: 0px;
}

.title {
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-size: bolder;
    font-weight: 600;
    display: inherit;
    color:silver;
}
